.Input {
  padding: 2px;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.InputElement {
  width: 100%;
  font-family: "Heebo", sans-serif;
  font-size: 0.7rem;
font-weight: bold;
  text-align: end;
  outline: none;
  border: none;
  border: 2px solid rgb(91, 130, 155);
  padding: 0 6px;
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
}

.InputElement::placeholder {
  font-family: "Heebo", sans-serif;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 400;
}

.InputElement:focus {
  outline: none;
}

.Invalid {
}

@media (min-width: 170px) {

  .Input{
    margin: 3px 0;
  }

  .InputElement {
    font-size: 0.9rem;
    height: 20px;
    border: 2px solid rgb(91, 130, 155);
    padding: 0 6px;
    border-radius: 10px;
  }
}  
@media (min-width: 250px) {
  .InputElement {
    font-size: 0.9rem;
    height: 30px;
    border: 2px solid rgb(91, 130, 155);
    padding: 0 6px;
    border-radius: 10px;
  }
}  

@media (min-width: 400px) {
  .InputElement {
    font-size: 0.9rem;
    height: 40px;
    padding: 0 6px;
    border-radius: 10px;
  }
  .InputElement::placeholder {
    font-family: "Heebo", sans-serif;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (min-width: 550px) {
  .InputElement {
    font-size: 0.9rem;
    height: 50px;
    padding: 0 6px;
    border-radius: 10px;
  }

  .InputElement::placeholder {
    font-family: "Heebo", sans-serif;
    font-size: 0.9rem;
    text-align: center;
  }
}



@media (min-width: 700px) {
  .InputElement {
    font-size: 1.1rem;
    font-weight: 400;
    height: 60px;
    padding: 0 6px;
    border-radius: 10px;
  }

  .InputElement::placeholder {
    font-family: "Heebo", sans-serif;
    font-size: 1.1rem;
    text-align: center;
  }

}



