.Label{
    text-align: start;
    width: 95px;
    margin-right: 10px;
    font-size: 1rem;
}

.Label label{
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

@media (min-width: 700px) {
    .Label label{
    font-size: 1.1rem;
    }
}