.Orders{
  margin-bottom: 5%;
    min-height: 100%;
    padding: 25px 0;
    background-color: rgb(240, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start
}

@media (min-width: 450px) {
    .Orders{
         padding:0;
         margin: 70px 15%;
         width: 70%;
    }
  }
  
  @media (min-width: 700px) {
    .Orders{
        padding:0;
        margin: 70px 15%;
        width: 70%;
    }
  }
  