.Black .Btn {
  background-color: rgb(0, 0, 0);
  color: white;
}

.Blue .Btn {
  background-color: rgb(20, 63, 104);
  color: white;
  box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
}

.Green .Btn {
  background-color: rgb(63, 134, 75);
  box-shadow: 1px 1px 1px 1px rgb(70, 70, 70);
  color: white;
}

.LightGrey .Btn {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ada996,
    #f2f2f2,
    #dbdbdb,
    #eaeaea
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ada996,
    #f2f2f2,
    #dbdbdb,
    #eaeaea
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 1px 1px 1px 1px rgb(100, 100, 100);
  color: black;
}

.Button {
  margin: 0 3px;
  padding: 0 10px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button .Btn {
  /* width: 100%; */
  height: 90%;
  font-size: 10px;
  margin: 0 auto;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  font-weight: bold;
}

.Button a:hover {
  text-decoration: none;
}

@media (min-width: 450px) {
}

@media (min-width: 700px) {
  .Button {
    margin: 0 3px;
    height: 30px;
  }

  .Button .Btn {
    height: 90%;
    font-size: 20px;
    margin: 0 auto;
  }
}
