.Black .Btn {
  background-color: rgb(0, 0, 0);
  color: white;
}

.Blue .Btn {
  background-color: rgb(20, 63, 104);
  color: white;
  box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
}

.Green .Btn {
  background-color: rgb(63, 134, 75);
  box-shadow: 1px 1px 1px 1px rgb(70, 70, 70);
  color: white;
}

.LightGrey .Btn {
  background: #747370; /* fallback for old browsers */
  color: white;
}

.Button {
  margin: 0 3px;
  padding: 0 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button .Btn {
  font-family: 'Comic Neue', cursive;
  height: 100%;
  font-size: 1.2rem;
  margin: 0 auto;
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  font-weight: bold;
}

.Button a:hover {
  text-decoration: none;
}

@media (min-width: 450px) {

 
  .Button .Btn {
    font-size: 20px;
    margin: 0 auto;
  }

}

@media (min-width: 700px) {
  .Button {
    margin: 0 3px;
    height: 30px;
  }

  .Button .Btn {
    font-size: 20px;
    margin: 0 auto;
  }
}
