.OrderSummery {
  background-color: white;
  padding: 5px 0;
  display: flex;
  margin: 10px 10%;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border: 3px solid #444444;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgb(190, 189, 180);
  width: 80%;
}

.EditButton{
  display: flex;  
  align-self: flex-start;
  padding:0;
  padding-bottom: 5px;
}

@media (min-width: 450px) {
  .OrderSummery {
  }
}

@media (min-width: 700px) {
  .OrderSummery {
  }
}
